# -----------------------------
# Python / Django
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.venv
.git
env/
*.sqlite3
*.log
*.pot
*.mo
/staticfiles/
media/
docs/
READEME.md

# -----------------------------
# Environment / secrets
# -----------------------------
.env
.env.dev
.env.staging
.env.production
# Ignore example files too in builds (optional)
.env.dev.example
.env.staging.example
.env.production.example

# -----------------------------
# Docker / build artifacts
# -----------------------------
*.dockerfile
docker-compose.override.yml
docker-compose.override.*.yml
docker-compose.override.yml.bak
docker-compose.override.*.yml.bak
**/volumes/
**/tmp/
*.pid

# -----------------------------
# Node / npm
# -----------------------------
node_modules/
package-lock.json
npm-debug.log
dist/
build/

# -----------------------------
# VSCode / IDEs
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# -----------------------------
# Mac / Linux / Windows
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# -----------------------------
# Testing / coverage
# -----------------------------
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/
