# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.venv
env/
*.sqlite3

# -----------------------------
# Django
# -----------------------------
*.log
*.pot
*.mo
db.sqlite3
db.sqlite3-journal
/staticfiles/

# -----------------------------
# Environment / secrets
# -----------------------------
.env
.env.dev
.env.staging
.env.production
# Keep example files in git
!.env.dev.example
!.env.staging.example
!.env.production.example

# -----------------------------
# Docker
# -----------------------------
*.dockerfile
docker-compose.override.yml
docker-compose.override.*.yml
docker-compose.override.yml.bak
docker-compose.override.*.yml.bak
*.pid
**/volumes/
**/tmp/

# -----------------------------
# Node / npm (if used)
# -----------------------------
node_modules/
npm-debug.log

# -----------------------------
# VSCode / IDEs
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# -----------------------------
# Mac / Linux / Windows
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# -----------------------------
# Coverage / testing
# -----------------------------
coverage/
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/


# -----------------------------
# Fixture Password Ignore
# -----------------------------
fixture_passwords.txt

# -----------------------------
# Media files
# -----------------------------
pointless_impressions_src/media/