{% load static tailwind_tags cloudinary crispy_forms_tags %}

<dialog id="signup-modal" class="modal">
    <div class="modal-box lg:w-7/12 lg:max-w-4xl lg:h-9/12">
        {% comment %} Sing up form including Signup, Photo, Address {% endcomment %}
        <form method="post">
            {% crispy signup_form %}

            {% crispy photo_form %}

            {% crispy address_form %}

            <button type="submit" class="btn btn-ghost btn-outline w-fit mt-4 mb-2">
                <i class="fa-solid fa-user-plus mr-2"></i> Sign Up
            </button>
        </form>
        <form method="dialog">
            <button class="btn btn-ghost">
                <i class="fa-solid fa-times"></i> Cancel
            </button>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
