{% extends "base.html" %}
{% load static cloudinary tailwind_tags crispy_forms_tags %}

{% block content %}
    {% block section_1 %}
    <section class="section-alt py-16 w-full">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            {% comment %} Breadcrumbs {% endcomment %}
            <div class="breadcrumbs text-sm mb-6">
                <ul>
                    <li>
                        <a href="/"><i class="fa-solid fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="{% url 'artwork:list' %}"><i class="fa-solid fa-palette"></i> Artworks</a>
                    </li>
                    <li>
                        <p><i class="fa-solid fa-check"></i> Checkout</p>
                    </li>
                </ul>
            </div>
            {% comment %} Checkout Heading {% endcomment %}
            <h1 class="text-4xl font-bold mb-4">Checkout</h1>
            {% comment %} Checkout Instructions {% endcomment %}
            <p class="mb-4">Please review your order and provide your payment details to complete the purchase.</p>
        </div>
    </section>
    {% endblock %}

    {% block section_2 %}
    <section class="section-blue py-16 w-full">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            {% include 'cart/includes/cart_summary.html' %}
        </div>
    </section>
    {% endblock %}

    {% block section_3 %}
    <section class="section-alt py-16 w-full">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold mb-6">
                Checkout Details
            </h2>
            <hr class="mb-4">
            <p class="text-md">To complete your purchase, please provide your payment details and confirm your shipping and billing information.</p>
            <hr class="my-4">
            {% crispy order_form %}
        </div>
    </section>
    {% endblock %}

    {% block extramodals %}
        {% include 'order/includes/confirm_order_modal.html' %}
    {% endblock %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/checkout.js' %}" type="module" defer></script>
{% endblock %}